---
layout: default
title: Home
noindex: true
---
{% include JB/setup %}

<div class="row">
  <section class="span12">
    <div class="posts">
      {% for post in site.posts limit:10 %}
      <article class="post">
        <header>
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p><time pubdate>{{ post.date | date:'%A, %B %d, %Y' }}</time></p>
        </header>
        <p class="blurb">
          {{ post.excerpt }}
        </p>
        <p>
          <a class ="read-more" href="{{ post.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
        </p>
      </article>
      {% endfor %}
    </div>

    <div class="main-footer">
    <a href="{{ BASE_PATH }}archive.html">View full archive <i class="fa fa-chevron-right"></i></a>
    </div>
  </section>
</div>

