---
layout: default
title: Home
noindex: true
---
{% include JB/setup %}

<div class="row">
  <section class="span12">
    <div class="posts">
      {% for post in site.posts limit:10 %}
      <article class="post">
        <header>
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p><time pubdate>{{ post.date | date:'%A, %B %d, %Y' }}</time></p>
        </header>
        <p class="blurb">
        {% if post.blurb %}
          {{ post.blurb }}
        {% else %}
          {{ post.content | strip_html | truncatewords:144 }}
        {% endif %}
        </p>
        <p>
          <a href="{{ post.url }}">Continue reading...</a>
        </p>
      </article>
      {% endfor %}
    </div>

    <a class="btn btn-primary btn-large" href="{{ BASE_PATH }}archive.html">View full archive <i class="fa fa-chevron-right"></i></a>
  </section>
</div>

