---
layout: default
title: Search 
noindex: true
---
{% include JB/setup %}

<h2>Search</h2>

<div id="search"></div>

<div id="begin" class="hero-unit well">
  <p>Please type in a query and hit enter to perform a search.</p>
  <p>You can use title and tags filters by typing <code>title:</code> and <code>tags:</code>,
  followed by the filter term.</p>
</div>

<div id="results"></div>

<script>
$(function() {
  var SEARCH_URL = '/search/',

    initialQuery = location.search,

    // Will lazily populate this when needed
    facetReq = null,

    $searchBox = $('#search'),

    $begin = $('#begin'),

    $searchResults = $('#results'),

    info = _.template('<p class="info hero-unit well">I found <%= count %> document<%= s %> matching your query</p>'),

    article =  _.template(['<article>',
      '<h4><a href="<%= url %>"><%= title %></a></h4>',
      '</article>'].join('')),

    posted = _.template('<p class="pubdate"><time><%= date %></time></p>');

  if ((/\?q=/).test(initialQuery)) {
    initialQuery = initialQuery.split('?q=')[1];
  } else {
    initialQuery = ''
  }

  // Setup visual search
  var visualSearch = VS.init({
    container: $searchBox,
    query: initialQuery,
    callbacks: {
      search: doSearch,

      facetMatches: function(callback) {
        // Only do this once :)
        ensureFacetReq();

         facetReq.success(function(data) {
            var facets = [];

            for (var k in data.facets) {
              if (data.facets.hasOwnProperty(k)) {
                facets.push(k);
              }
            }

            callback(facets);
          })
      },

      valueMatches: function(facet, searchTerm, callback) {
        ensureFacetReq();

        facetReq.success(function(data) {
          if (!(facet in data.facets))
            return;

          var obj = data.facets[facet];

          switch (obj._type) {
          case 'terms':
            callback(_.pluck( obj.terms, 'term' ));
            break;
          case 'date_histogram':
            callback(_.pluck( obj.entries, 'time' ));
            break;
          }
        });
      }
    }
  });

  if (initialQuery) {
    doSearch(initialQuery);
  }

  function ensureFacetReq() {
    if (!facetReq)
      facetReq = $.ajax(SEARCH_URL);
  }

  function doSearch(query) {
    $searchResults.empty();

    if (!query) {
      $begin.show();
      return;
    }

    $begin.hide();

    $.when(
      $.ajax({
        url: SEARCH_URL,
        data: { q: query },
        type: 'GET'
      })
      ).then(function(data) {

        var total = data.hits.total,
          documents = _.pluck(data.hits.hits, '_source');

        $(info({ 
          count: total > 0 ? total : 'no', 
          s: total == 1 ? '' : 's' })
        ).appendTo($searchResults);

        _.each(documents, function(doc) {
          var $item = $( article(doc) ).appendTo($searchResults);

          if ('date' in doc) {
            $( posted({ date: doc.date }) ).appendTo($item);
          }
        });
      });
  }
});

</script>

