/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  font-size: 15px;
}

p, blockquote {
  font-size: 15px;
  line-height: 18px;
  font-family: Georgia, Times, serif;
}

li { line-height: 24px; }

#intro {
  max-width: 940px;
}

.page-footer {
  margin-top: 40px;
  background-color: #444;
  color: #ccc;
  padding: 10px 5px;
}

.page-footer h3 {
  color: #999;
}

.page-footer div {
  max-width: 940px;
}

.page-footer a {
  color: #f5e102;
}

.page-footer a:hover {
  color: #a89200;
}

.hero-unit {
  padding: 20px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

#recent-posts header {
  font-weight: bold;

}

#recent-posts article {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

	
/* 
 * Responsive designs
 */
@media (min-width: 1200px) {
  .container-fluid {
    width: 940px;
    margin: 0 auto;
  }
}


