<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>

    {% stylesheet application %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152515241476494";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <div class="brand" >
            <img src="https://s.gravatar.com/avatar/571cd899248d35ac14382559520a570b?s=50" alt="" />
            <a href="{{ HOME_PATH }}">
              {{ site.title }}
            </a>
          </div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
              <li class="twitter-follow">
                <a href="https://twitter.com/jay_soo" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @jay_soo</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
            </ul>
            <form class="navbar-search pull-right" action="/search.html" method="GET">
              <input id="q" name="q" type="text" class="search-query" placeholder="Search">
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div id="main">
      <div class="container-fluid">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div> <!-- /#main -->

    <footer class="page-footer">
      <div class="container-fluid">
        <h3>About Jack <i class="fa fa-asterisk"></i></h3>

        <p>
          I am a web developer living in Toronto, Ontario. You may reach me via email at jack.hsu [at] gmail [dot] com.
        </p>

        <ul class="social-links">
          <li>
            <a href="https://twitter.com/jay_soo"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://github.com/jaysoo"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="https://linkedin.com/in/jackhsu83"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://stackoverflow.com/users/70871/jay-soo"><i class="fa fa-stack-overflow"></i></a>
          </li>
          <li>
            <a href="http://instagram.com/jaysoo3"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
        <p class="info"><small>&copy; Jack Hsu 2014</p>
      </div>
    </footer>

    {% include JB/analytics %}

    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% javascript application %}
  </body>
</html>
