<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en" > <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en" > <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en" > <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/2.0.0/bootstrap.css?v=1" rel="stylesheet"/>
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" media="all"/>
    <link href="{{ ASSET_PATH }}/css/style.css?v=3" rel="stylesheet" media="all"/>
    <link href="{{ ASSET_PATH }}/css/visualsearch-datauri.css" media="screen" rel="stylesheet"/>
    <script src="{{ ASSET_PATH }}/js/modernizr-1.7.min.js"></script>


  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
  -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152515241476494";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <form class="navbar-search pull-left" action="/search.html" method="GET">
            <input id="q" name="q" type="text" class="search-query" placeholder="Search">
          </form>
        </div>
      </div>
    </nav>

    <div id="main">
      <div class="container-fluid">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div> <!-- /#main -->


    <footer class="page-footer">
      <div class="container-fluid">
        <h3>About Jack &raquo;</h3>

        <p>
          I am a graduate from the University of Waterloo with a Bachelor of Mathematics (Honours Computer Science). 
          I am a web developer living in Toronto, Ontario. You can find me on the web 
          <a href="http://twitter.com/jay_soo" rel="external">here</a>, <a href="http://linkedin.com/in/jackhsu83" rel="external">here</a>,
          and <a href="https://www.facebook.com/jack.iyang.hsu" rel="external">here</a>.
        </p>

        <p>
          I am also an active GitHub user, and you can view some of my work and activies on my <a href="https://github.com/jaysoo" rel="external">profile page</a>.
        </p>

        <p>Oh, and I also have a <a href="http://stackoverflow.com/users/70871/jay-soo" rel="external">Stack Overflow account</a>.</p>

        <p>You may reach me via email at jack.hsu [at] gmail [dot] com</p>


        <p class="info"><small>&copy; Jack Hsu 2012 &mdash; powered by <a href="https://github.com/mojombo/jekyll" rel="external">Jekyll</a> and <a href="http://twitter.github.com/bootstrap" rel="external">Bootstrap</a></small></p>
      </div>
    </footer>

{% include JB/analytics %}

<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- libraries -->
<script src="{{ ASSET_PATH }}/js/underscore-min.js"></script>
<script src="{{ ASSET_PATH }}/js/backbone-min.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.ui.core.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.ui.widget.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.ui.position.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.ui.autocomplete.js"></script>
<script src="{{ ASSET_PATH }}/js/visualsearch.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
<script src="{{ ASSET_PATH }}/js/date.js"></script>

<!-- website scripts -->
<script src="{{ ASSET_PATH }}/js/script.js" charset="utf-8"></script>

  </body>
</html>
