<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.category %}
      <span class="label label-info">{{ page.category }}</span>
    {% endif %}
</h1>
</div>

<div class="row">
  <div class="span8">
    <div class="post-body">
      {% if page.description %}
        <div class="byline">
          {{ page.description }}
        </div>
      {% endif %}

      {% if page.image %}
        <figure class="title-image">
          <img src="{{ page.image }}" alt="" class="title-image__image"/>
          {% if page.image_caption %}
            <figcaption class="title-image__caption">
              {{ page.image_caption }}
            </figcaption>
          {% endif %}
        </figure>
      {% endif %}

      {{ content }}
    </div>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>

  <aside class="span4">
    <h4>Published</h4>
    <div class="box date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="box tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}

    <h4>Share</h4>
    <div class="box">
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | uri_escape }}&amp;via=jay_soo" class="twitter-share-button"{count} data-via="jay_soo" data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <h4>Related Posts</h4>
    <ul>
      {% for post in site.related_posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>
</div>
